/* * { 
  box-sizing: border-box;
} WHAT DOES THIS DO? LEAVE COMMENTED OUT UNTIL UNDERSTAND. I believe this was from the original App.css file created in the create-react-app. I deleted most of the original css styling out.*/ 

body {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1 { 
  text-align: center;
}

h2 {
  margin: 20px 30px;
  position: absolute;
  color:  #324376;
}

.navbarTitle {
  color: #4A2D3E;
  font-size: 28px;
  text-align: left;
}

header {
  margin: 0px;
  width: auto;
  background-image: linear-gradient(to right, #324376, #5398BE, #75A2A5, #8daa91);
}

.nav-link {
  color: white;
  font-weight: bold;
  margin-bottom: -5px;
/*  padding: 14px;*/
}

.nav-link:hover {
  color: #4A2D3E;
  font-weight: bold;
}

.homeImg {
  padding: 0px;
  border-radius: 50px;
/*     max-height: 550px;
      max-width: 450px;    */
}

.homeImg:hover {
  transform: scale(1.1);
}

.carouselCaptions {
  color: white;
  background-color: black;
  opacity: .6;
  border-radius: 20px;
  padding: 0px 30px;
  height:fit-content;
  margin:0px;
}

.capDiv {
  color:white;
  top: 0px;
  left: 40px;
  height:fit-content;
  font: bold 15px tahoma;
  background-color: black;
  opacity: .7;
  border-radius: 20px;
  padding: 5px 0px;
  /*max-width: 400px;*/
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  font-family: sans-serif;
  margin: 40px 0;
}

.timeline-container::after {
  background-color: #4A2D3E;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content:flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

.timeline-item-content {
  background-color: rgb(184, 227, 233);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0,0,0, 3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  max-width: 70%;
  padding: 10px;
  width: 400px;
  text-align: right;
}

.timeline-item-content::after {
  content: '';
  background-color: rgb(184, 227, 233);
  box-shadow: 2px -1px 2px rgba(0,0,0,0.2);
  position: absolute;
  transform: rotate(45deg);
  right: -10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;

}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  right: auto;
  left: -10px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
}

/*.timeline-item:nth-child(odd) .timeline-item-content::after {
  box-shadow: -1px 1px 1px rgba(0,0,0,0.2);
  right: auto;
  left: -7.5px;
} */

.timeline-item-content .country {
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .country {
  left: auto;
  right: 5px;
}

.timeline-item-content .time {
  color: #777;
  font-size: 12px;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px, 0;
  max-width: 250px;
}

.timeline-item-content a {
  color: #333;
  text-decoration: underline;
  font-size: 14px;
}

/*
.timeline-item-content a::after {
  content: '@';
  font-size: 12px;
} */

.timeline-item-content .circle {
  background-color: white;
  border: 3px solid #4A2D3E;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

@media only screen and (max-width:767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center; 
  }

  .timeline-item-content .country {
    width: calc(100% - 10px);
  }

  .timeline-item-content time {
    margin-top: 20px; 
  }
}

#root {
  width: 100%; /*research this one further*/
}

#homeContainer {
      position: relative;
      color: black;
}

#signIn:hover {
  color: #324376;
}

#signIn {
  color: white;
  font: bold 17px tahoma;
  float: right;
}

#createAcct {
  color: #324376;
  font: bold 17px tahoma;
  float: right;
}

#compassWest {
  width: 40%;
  opacity: .6;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#compassEast {
  width: 40%;
  opacity: .6;
  border-radius: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}